//COLORS

$link-color:#000000;
$bg-color:#FFFFFF;
$border-color: #DCE0D8;
$button-color-red: #EE6560;
$button-color-blue: #96D6E2;
$description-color:#4C4C4C;

//FONT SIZES

$font-size-small: 8px;
$font-size-medium: 11px;
$font-size-profile:17px;
$font-size-large: 25px;
$font-size-x-large: 35px;

//BREAKPOINTS

$min-width: 768px;
