//COLORS

$link-color:#000000;
$bg-color:#FFFFFF;
$border-color: #DCE0D8;
$button-color-red: #EE6560;
$button-color-blue: #96D6E2;

//FONT SIZES

$font-size-small: 8px;
$font-size-medium: 11px;
$font-size-profile:16px;
$font-size-large: 25px;
$font-size-x-large: 30px;

//BREAKPOINTS

$min-width: 576px
