.hero-section {
    background-image: url(/assets/images/image-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 6.25rem 3.125rem;
}