.header{

    &__banner{
        background-image: url('../images/image-banner.png');
        height: 12.5rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-origin: border-box;
        @media (max-width: 576px) {
            height:110px;
            }
        }


    &__profile{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80px;
        padding:0 100px;
        border-bottom: 1px solid;
        border-color: $border-color;
        @media (max-width: 576px) {
            margin-top:10px;
            display: flex;
            align-items: center;
            justify-content:center;
            border-bottom: none;
            }
    }

    &__info{
        display: flex;
        flex-grow:5;
        @media (max-width: 576px) {
        display: flex;
        align-items: center;
        justify-content: center;
        }
    }
    
    &__avatar{
        background-image: url('../images/profile-image.png');
        background-size: cover;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;

    }

    &__details{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: flex-start;
        margin-left:25px;
    }

    &__name{
        font-weight: 700;
        font-size: $font-size-profile;
    }

    &__followers{
        font-weight: lighter;
        font-size: $font-size-medium;
    }

    &__buttons{
        display:none;
        @media (min-width: 576px) {
        display:flex;
        justify-content:flex-end;
     }
    }
}
