.container{
    padding: 10px;
}

.navbar {
    padding: 0.5rem 2rem;
}

.navbar-light .navbar-nav .nav-link {
    color:$link-color;
}

.container__span--1{
    font-size:$font-size-x-large;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.container__span--2{
    font-size:$font-size-small;
    font-weight: 600;
    position: absolute;
    top: 26px;
}