.container{
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color:$link-color;
}

.container__span--1{
    font-size:$font-size-x-large;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.container__span--2{
    font-size:$font-size-small;
    font-weight: 700;
    position: absolute;
    top: 18px;
}